<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rock Bands</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'website/css/base.css' %}">
</head>
<body>
<header class="jumbotron text-center">
    <h1>Rock Bands</h1>
    <p>{{sir}}</p>
<nav>
    <a href="{% url 'website:home' %}" class="btn btn-info">Home</a>
    <a href="{% url 'website:doors' %}" class="btn btn-info">The Doors</a>
    <a href="{% url 'website:dire' %}" class="btn btn-info">Dire Straits</a>
</nav>
</header>
<article class="container">
    <main class="col-sm-6">
	{% block main %}
	{% endblock main %}
    </main>
    <aside class="col-sm-6">
        <img src="{% load static %} {% static 'website/images/carl.png' %}" alt="">
    </aside>
</article>
<footer>Music</footer>
</body>
</html>